@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root{
    --orange: #FF8000;
    --black: #000000;
    --red: #FF0000;
}
/* LOGO NO HEADER */
#logoGames{
    color: var(--orange);
    font-size: 50pt;
}

.nav-link, a{
    color: var(--black);
    font-size: 15pt;
}

.nav-link:hover{
    color: var(--red);
    text-decoration: underline;
}

#login{
    color: var(--orange);
}
.jumbotron{
    background: url('../img/banner.jpg') no-repeat fixed;
    background-size: 100% 100%;
    padding: 30px 0px 50% 0px;
    margin-bottom: 0px;
}

article{
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
}

footer{
    bottom: 0;
    font-size: 18pt;
}